*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    overflow-x: hidden;
}
#active {
    color: rgba(0, 0, 0, .65);
}

.carousel-indicators [data-bs-target] {
    background-color: #0a3622;
}
.visina{
    height: 60vh;
}
.pozadina{
    background-color: #eeeeee;
}
.tekst{
    height: 65px;
    line-height: 0.5;
    background-color: white;
    transition-duration: 1s;
    
}
.tekst:hover{
    transform: translateY(-90%);
}

.navbar{
    background-color: white;
}
.cenaParagraf{
    padding-top: 0.375rem;
}
.btn-dark{
    margin-top: 10px;
}
.btn-reset{
    margin: 0;
}
.btn-dark:hover{
    background-color: #58151c;
}
.text-success-emphasis{
    color: #58151c;
}
/* .card-body{
    padding-bottom: 0.3rem;
} */
.karticaDodaj{
    overflow: hidden;
}
.karticaIzbor{
    background-color: #eeeeee;
}
.karticaIzborBela{
    background-color: white;
}
.zelena{
    color: #58151c;
}
.zelenapozadina{
    background-color: #0a3622;
    color: white;
}
.zeleniokvir{
    border: 1px solid #0a3622;
}
.crveniokvir{
    border: 1px solid #58151c;
}
.slikaKockice{
    height: 800px;
    background-image: url(img/pexels-lil-artsy-1111597.jpg);
    background-position: fixed;
}
.blok-zasto{
    background-color: #0a3622;
    padding: 0;
}
.boja{
    color: white;
    padding: 0;
}
.prvi{
    background-image: url(img/bang.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.drugi{
    background-image: url(img/dixit.jpg);
    height: 34vh;
}
.treci{
    background-image: url(img/prst.jpg);
    height: 34vh;
    background-repeat: no-repeat;
}
.visina-trending{
    height: 34vh;
}
.cetvrti{
    background-image: url(img/sagrada.jpg);
    background-size: cover;
}
.mesto{
    height: 100%;
    width: 100%;
}
@media (max-width:993px) and (min-width:1200px){
    .popravkaMargina{
        margin-top: 30px;
    }
}
@media (max-width:600px) and (min-width:500px){
    .visina{
        height: 55vh;
    }
    }
@media (max-width:500px) and (min-width:400px){
    .visina{
        height: 55vh;
    }
    }
@media (max-width:400px){
    .visina{
        height: 45vh;
    }
    }
